/////////////////
//Foreground Colours

// General Text
$brandGeneral: #232323;

// Dark Grey
$darkGrey: #414141;

// Mid grey
$midGrey: #757575;


/////////////////
// Background Colours

// Light Grey
$lightGrey: #E2E2E2;

// Lighter Grey
$lighterGrey: #EEEEEE;

// Brand dark
$brandDark: #001926;
$brandDark2: #041928;

// Border + keyline colours

// Mid grey
$midBorder: #BABABA;

// Light border / keyline
$lightBorder: #E6E6E6;


/////////////////
// Accent colours

// Brand highlight
$brandHighlight: #0C9A9A;

// Brand highlight hover
$brandHighlightHover: #5AB4B4;

// Error colour
$errorColour: #FF0000;

//Brand Blue
$blue: #007ae9;


//Space
$space: 1rem;
