@import 'mixins.scss';
@import 'variables.scss';



.about {

	.holder {
		display: flex;
		@include tablet {
			flex-direction: column;
		}
		> *:not(.sidebar) {
			flex: 1;
		}
		img {
			max-width: 100%;
		}
		.sidebar {
			
		}
	}
	
}