@import 'mixins.scss';
@import 'variables.scss';



.about {

	.holder {
		display: flex;
		@include tablet {
			flex-direction: column;
		}
		> * {
			flex: 1;
		}
		h1:not(:first-child) {
			margin: $space*3 0 $space;
		}
		img {
			max-width: 100%;
		}
		.sidebar {
			flex: .5;
			padding: $space $space*2 $space*2 0;
			h4 {
				color: $brandHighlight;
			}		
		}
	}
	
}