@import 'mixins.scss';
@import 'variables.scss';



.container.contact {
	margin: 0 auto;
	background: #0d9a9a url('http://cdn.seeticketsus.com/cr2.png') no-repeat 90%;
	background-size: contain;
	width: 100%;
	text-align: center;
	@include tablet {
		background: #0d9a9a;
	}
	.holder {
		display: flex;
		min-height: 50vh;
		align-items: center;
		width: 60%;
		color: white;
		margin: $space*10 auto $space*4;
		@include tablet {
			justify-content: center;
		}
		address {
			margin: 0 0 $space*4;
		}
		div a {
			display: block;
			margin: 0 0 $space;
			font-size: 1.5em;
			i {
				display: block;
				margin: 0 0 3px;
			}
			@include tablet {
				font-size: 1.25em;
			}
		}
	}
}