@import 'mixins.scss';
@import 'variables.scss';

.bottom-nav {
	background: $brandDark2;
	color: $lighterGrey;
	padding: $space*2 0;
	footer {
		.container {
			display: flex;
			@include mobile {
				flex-direction: column;
			}
			div.address {
				font-size: .8em;
				color: $lightGrey*.65;
				address {
					font-style: normal;
					margin: $space/2 0;
				}
			}
			a.logo {
				background: url('../images/st-logo.png') no-repeat;
				background-size: contain;
				width: 100px;
				height: 16px;
				display: inline-block;
			}
			ul {
				margin: 0 0 0 $space*2;
				padding: 0 0 0 $space*2;
				border-left: 1px solid $lightGrey*.5;
				@include mobile {
					border: none;
					padding: 0;
					margin: 0;
				}
			}
			a {
				text-transform: uppercase;
				font-size: .9em;
				font-weight: 300;
			}
			a.active {
				font-weight: 400;
			}
			div.affiliates {
				text-align: right;
				flex: 1;
				a.vivendi {
					background: url('../images/vivendi-white.png') no-repeat;
					background-size: contain;
					width: 100px;
					height: 16px;
					display: inline-block;
					opacity: .5;
				}
			}
		}
	}
}