@import 'mixins.scss';
@import 'variables.scss';



.insights {

	.holder {
		display: flex;
		@include tablet {
			flex-direction: column;
		}
		> *:not(.sidebar) {
			flex: 1;
		}
		div {
			ul.topics {

				li {
					list-style-type: circle;
					margin: 0 0 0 $space*1.2;
					line-height: 1.5em;
				}
			}
		}
		.insights-images {
			display: flex;
			flex-wrap: wrap;
			li {
				// flex-basis: 50%:
				list-style-type: none;
				width: 50%;
				img {
					width: 100%;
				}
			}
			
		}
		.sidebar {
			
		}
	}
	
}