@import 'mixins';
@import 'variables';

div.top-nav {
	position: relative;
	z-index: 1000;
	nav {
		border-bottom: 1px solid $lightBorder;
		padding: $space/2 0;
		.container {
			display: flex;
			align-items: center;
			* {
				flex: 1;
			}
			a {
				margin: 0;
				text-transform: uppercase;
				font-size: .95em;
				font-weight: 300;
				letter-spacing: .045em;
				transition: .2s color, .2s border, .2s font-weight;
				border: 1px solid transparent;
				border-width: 0 0 1px 0;
				padding: $space/4 0;
			}
			a.logo {
				background: url('../assets/st-logo-dark.png') no-repeat;
				background-size: contain;
				width: 150px;
				height: 25px;
				display: inline-block;
				flex: 1;
			}
			.menu {
				flex: 2;
				text-align: right;
				transition: right .4s;
				@include tablet {
					position: fixed;
					padding: $space;
					width: 300px;
					height: 120vh;
					overflow: hidden;
					background: rgba(0,0,20,.9);
					color: $lighterGrey;
					right: -300px;
					top: 0;
					a {
						display: block;
						text-align: left;
						padding: $space;
					}
					&.open {
						right: 0;
					}
					&.open ~ .mobile-menu-trigger {
						color: $lighterGrey;
					}
				}
				a {
					margin: 0 0 0 5px;
					@include tablet {
						border: none;
					}
				}
				a.active {
					color: #0c9a9a;
					border: 1px solid;
					border-width: 0 0 1px 0;
					@include tablet {
						border: none;
						font-weight: 400;
					}
				}
			}
			
		}
		&.light {
			background: linear-gradient(rgba(0,0,0,.3), transparent);
			color: $lighterGrey;
			border: none;
			position: absolute;
			width: 100%;
			a.logo {
				background: url('../assets/st-logo.png') no-repeat;
				background-size: contain;
			}
		}
		.mobile-menu-trigger {display: none;}
		@include tablet {
			a.mobile-menu-trigger {
				position: absolute;
				display: block;
				padding: 0;
				right: 0;
				i {
					font-size: 28px;
				}
			}
		}
	}	
}
