@import 'mixins';
@import 'variables';

.partners.container {
	min-height: 60vh;
	padding: $space*2 0;
	text-align: center;
	p {
		padding: $space*2;
		font-size: 1.5em;
		line-height: 1.75em;
		color: $brandDark2/.6;
		@include mobile {
			padding: 0;
		}
	}
	ul.categories {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: space-around; 
		flex-wrap: wrap;
		padding: $space*2;
		li {
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 300;
			font-size: 1.15em;
			text-transform: capitalize;
			flex: 1;
			min-height: 4rem;
			padding: 0 $space/2;
			@include mobile {
			}
			a {
			
				border-radius: 2px;
				@include mobile {
					padding: $space/3 $space/2;
				}
			}
			&.active {
				background: $seeblue;
				color: white;
			}
			
			
		}
		@include mobile {
			display: block;
			padding: $space 0;
		}
	}

	ul.logos {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		li {
			flex-basis: 20%;
			padding: 3%;
			&.ng-hide {
				opacity: 0;
				position: relative;
				top: -5px;
			}
			&.ng-hide-add-active {
				transition: none;	
				opacity: 0;
			}
			&.ng-hide-remove-active {
				transition: opacity cubic-bezier(.36,.09,.83,.67) .5s, top .5s !important;
				opacity: 1;
				top: 0px;
				position: relative;
			}
			@include mobile {
				flex-basis: 33.3333%;
			}
			img {
				width: 100%;
			}
		}
	}
	
}



