@import 'mixins';
@import 'variables';

ul.slider {
	height: 600px;
	overflow: hidden;
	li {
		display: block;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 600px;
		img {
			width: 100%;
		}
	}
	li:nth-of-type(2n) {
	}
	button.slick-arrow {
		z-index: 1;
		position: absolute;
		top: 0;
		height: 100%;
		width: 5%;
		background: none;
		cursor: pointer;
		border: none;
		&.slick-next {
			right: 0;

		}
		&.slick-prev {
			left: 0;
		}
	}
}

.nav-holder {
	background: #4993f4;
	color: white;
	text-transform: uppercase;
	font-weight: 200;
	font-size: 3em;
	width: 40%;
	margin: (-$space*12) 0 0 0;
	position: absolute;
	right: 0;
	padding: $space*2 $space*2 $space*1.5;
	@include tablet {
		
	}
	img {
		height: 48px;
		float: left;
		margin: 0 15px 0 0;
	}
	ul.slider-nav {
		li {
				
		}
		
	}
	&:before {
		content: ' ';
	    display: block;
	    background: #4993f4;
	    width: 19px;
	    height: 100%;
	    position: absolute;
	    left: -7px;
	    top: 0;
	    transform: skew(-7deg);
	}	
}

