@import 'mixins.scss';
@import 'variables.scss';



.solutions {
	.holder {
		display: flex;
		@include tablet {
			flex-direction: column;
		}
		> * {
			flex: 1;
		}
		h1:not(:first-child) {
			margin: $space*3 0 $space;
		}
		img {
			max-width: 100%;
		}
		.sidebar {
			flex: .5;
			padding: $space $space*2 $space*2 0;
			h4 {
				color: $brandHighlight;
			}		
		}
	}
}

.container.solutions.home {
	text-align: center;
	margin: 0 auto $space*5;
	div.info {
		display: flex;
		flex-wrap: wrap;
		div {
			flex: 1;
			flex-basis: 33%;
			padding: 0 $space*2;
			text-align: left;
		}
	}
	h2, h3 {
		margin: 0 0 $space;
	}
	h4 {
		text-transform: uppercase;
		font-weight: 700;
		margin: $space*2 0 $space/2 0;
	}

}